header {
  background-image: url("./resources/img/nate-grant-on-unsplash.jpg");
  background-color: lightblue;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  line-height: 1.2;
  padding: 2em;
  text-align: center;
  height: 500px;

  border-style: hidden;
  border: 0;
  border: none;
  border-collapse: collapse;
}

header img {
  background-image: url("./resources/img/author_photo.png");
  display: inline-block;
  border-style: hidden;
  vertical-align: top;
  horiz-align: center;
  height: 287px;
  width: 287px;

  border-style: hidden;
  border: 0;
  border: none;
  border-collapse: collapse;
}

header h1 {
  color: white;
  font-size: 2.5em;
  font-weight: 100;
}

header a {
  border: 1px solid #e81c4f;
  border-radius: 290486px;
  color: white;
  font-size: 0.6em;
  letter-spacing: 0.2em;
  padding: 1em 2em;
  text-transform: uppercase;
  text-decoration: none;
  transition: none 200ms ease-out;
  transition-property: color, background;
  background: lightsteelblue;
  line-height: 40px;
}

header a:hover {
  background: #e81c4f;
  color: white;
}

body {
  margin: 0 auto; /* centering */
  max-width: 50em; /* max chars per line*/
  background: aliceblue;
  color: #566b78;
  font-family: "Arial", "Helvetica", "Georgia", sans-serif;
  line-height: 1.5;
  padding: 4em 1em;
}

h1,
h2,
h3,
h4,
h5 {
  margin-top: 1em;
  padding-top: 1em;
}

h1,
h2,
strong {
  color: #333;
}

code,
pre {
  background: #f5f7f9;
  border-bottom: 1px solid #d8dee9;
  color: #055dba;
}

code {
  padding: 2px 4px;
  vertical-align: text-bottom;
}

pre {
  padding: 1em;
  border-left: 2px solid #69c;
}

a {
  color: #e55555;
  border: 1px solid #e81c4f;
  border-radius: 290486px;
  color: white;
  font-size: 0.6em;
  letter-spacing: 0.2em;
  padding: 1em 2em;
  text-transform: uppercase;
  text-decoration: none;
  transition: none 200ms ease-out;
  transition-property: color, background;
  background: lightsteelblue;
  line-height: 40px;
}

a:hover {
  background: #e81c4f;
  color: white;
}

button,
input[type="button"],
input[type="submit"],
input[type="reset"] {
  background-color: lightsteelblue;
  border: 1px solid #e81c4f;
  border-radius: 290486px;
  color: white;
  padding: 0.5em 0.5em;
  text-transform: uppercase;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  font-size: 0.8em;
  letter-spacing: 0.2em;
}

input[type="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover {
  background-color: #e81c4f;
  color: white;
}
