@import url("../index.css");

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    background-color: lightsteelblue;
}

body {
    max-width: 80em;
}

table tr{
    max-width: 80em;
}

table tr td, table tr th {
    max-width: 60em;
    text-align: left;
    font-size: 10px;

    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
